* {
    margin: 0;
}


body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafafa;
}

/* Main content */

#sign-up-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

}

#sign-up-content > div{ 
    margin-bottom: 50px;
}

/* The sidebar logo */
#side-logo {
    background-image: url('https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?q=80&w=1862&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: 150%;
    width: 40vw;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#side-logo h1 {

    display: flex;
    align-items: center;
    font-family: odinFont;
    opacity: 100%;
    font-size: 70px;
}

#side-logo div {
    display: flex;
    padding: 25px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.67);
    justify-content: center;
    align-items: center;
    margin-bottom: 50%;
}


/* Paragraph */

#paragraph p {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 650;
}

#paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 50px;
    margin-right: 30%;
}

/* Inputs */



#inputs {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: white;
    box-shadow: 0 5px 6px 3px rgba(0, 0, 0, 0.1); 
}
#inputs h2 {
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.input-container form {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

label {
    font-size: 17px;
    font-weight: 600;
    color: #6e6e6e;
}

input {
    font-size: 17px;
    width: 300px;
    height: 30px;
    border: 2px solid #b1b1b1;
    border-radius: 5px;
}

input:focus {
    border: 3px solid #555;
    outline: none;
}

/* Submit */

#submit {
    margin-left: 50px;
}

#submit button {
    height: 50px;
    width: 200px;
    font-size: 17px;
    margin-bottom: 15px;
    color: white;
    font-weight: 800;
    background-color: #596D48;
    border: none;
    border-radius: 8px;
    box-shadow: 0 5px 6px 3px rgba(0, 0, 0, 0.1);
}

a{
    color: #596D48;
    font-weight: 800;
    text-decoration: none;
    
}

a:visited {

}